---
import { CONTACT_FORM_ID } from "../constants";
---

<div
  class="h-[550px]"
  id="form"
  data-tf-widget={CONTACT_FORM_ID}
  data-tf-hide-headers
  data-tf-hide-footer
  data-tf-lazy
>
</div>
<script is:inline src="https://embed.typeform.com/next/embed.js"></script>
